#panorama {
  position: absolute;
  left: 0;
  right: 0;
  top: 9%;
  bottom: 0;
  width: 100%;
  height: 91%;
}

.back-button {
  position: absolute;
  z-index: 20;
  padding: 0.5rem;
  right: 1rem;
  top: 1rem;

  background-color: white;
  color: darkblue;
  border: 2px solid darkblue;
  font-size: 1.5rem;
  border-radius: 7px;
  font-weight: bold;
}

.back-button:focus {
  outline: none;
}
