#panorama {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;

  z-index: 0;
}

#panorama button {
  position: absolute;
  z-index: 20;
  width: 250px;
}
