.app-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;

  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, rgb(20, 20, 235), rgb(59, 121, 255));
}
